ion-searchbar{
    --border-radius: 20px;
    --background: rgba(255, 255, 255, 0.103);
    // --box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.75);
  }
  
  ion-card{
    --background: rgba(255, 255, 255, 0.103);
  }